/*
* Peach V 1.0.0
* Copyright 2019, Jarod Peachey
*/


/* Base Styling 
-----------------------------------------------------------------*/
 
*::before,
*::after,
* {
   box-sizing: inherit;
}

.bg-primary {
   background: var(--primary);
   color: white;
}

.bg-primary .subtitle {
   color: var(--white-transparent)
}

.bg-accent {
   background: var(--accent);
   color: white;
}

.bg-light {
   background: var(--lightest-gray);
}

.bg-dark {
   background: var(--background-dark);
   color: white;
}

.bg-dark .subtitle {
   color: var(--white-transparent);
}

body {
   width: 100%;
   overflow-x: auto;
   margin: 0;
   padding: 0;
   overflow-y: hidden;
}

html {
   box-sizing: border-box;
   overflow: auto;
   scroll-behavior: smooth;
}

:root {
   /* Main color scheme */
   --accent: #d8b104;      /* Base color */
   --accent-dark: #c4a106;
   --primary: #0a638b;
/* primary and CTA color */
   --primary-dark: #084d6d;
   --background-light: #e3e9ec;
   --background-medium: #9ba9af;

--background-dark: #2e3236;
   
   --link: #1576f5;
   --link-dark: #0064e7;
   --info: #219df0;
   --info-dark: #008ce9;
   --success: rgb(87, 211, 87);
   --success-dark: rgb(70,
192, 70);
   --warning: rgb(255, 217, 0);
   --warning-dark: rgb(243, 207, 0);
   --danger: rgb(202, 68, 34);
   --danger-dark: rgb(185, 64, 34);
   --dark-gray: #363636;
   --lightest-gray: #f7f7f7;
   --lighter-gray: #eeeeee;
   --light-gray: #e2e2e2;
   --medium-gray: #d8d8d8;
   --darkest-gray: #1a1a1a;



   --white-transparent: rgba(255, 255, 255, 0.781);
}

/* LAYOUT AND GRID SYSTEM
--------------------------------------------------------------- */
.container {
  margin: 0 auto;
  width: 375px;
  padding: 5rem 0;
}

@media (min-width: 540px) {
  .container {
     margin: 0 auto;

    width: 90%;
  }
}

@media (min-width: 769px) {  
  .container {
     margin: 0 auto;
     width: 85%;
  }

  .container.wide {
     margin: 0 auto;
     width: 90%;
  }
}

@media (min-width: 1024px) {
  .container
{
     margin: 0 auto;
     width: 80%;
     max-width: 960px;
  }

  .container.wide {
     margin: 0 auto;

    width: 85%;
     max-width: 1200px;
  }
}

.col
{
  padding: 8px;
  margin: 0;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
}

.row.mobile {
  display: flex;
  flex-wrap: wrap;
}
.row.mobile .col.mobile-col-4 { width: 33.33333%; flex: none; }
.row.mobile .col-5 { width: 41.66667%; flex: none; }
.row.mobile .col.mobile-col-6 { width: 50%; flex: none; }
.row.mobile .col-7 { width: 58.33333%; flex: none; }
.row.mobile .col-12, .row.mobile .col.mobile-col-12 { width: 100%; flex: none;}

/* mobile-lg */
@media(min-width: 540px) {
  .row .mobile-col-4 { flex: none; width: 33.33333%; }
  .row .mobile-col-6 { flex: none; width: 50%; }
  .row
.mobile-col-12 { flex: none; width: 100%; }
  .mobile-lg-col-6 { flex: none !important; width: 50% !important; }

  .mobile-lg-auto {
     flex: 1 1 0 !important;
  }
}

/* Tablet */
@media (min-width: 769px) {
   .row {
     display: flex;
     flex-wrap: wrap;
  }
  .row .mobile-col-4 { flex: none; width: 33.33333%; }
  .row .mobile-col-6 { flex: none; width: 50%; }
  .row .mobile-col-12 { flex: none; width: 100%; }
  .row .mobile-lg-col-6 { flex: none; width: 50%; }

  .mobile-lg-auto {
     flex: 1 1 0 !important;
  }
  .tablet-col-2 { flex: none !important; width: 16.66% !important; }
  .tablet-col-4 { flex: none !important; width: 33.33333% !important; }
  .tablet-col-6 { flex: none !important; width: 50% !important; }
  .tablet-col-9 { flex: none !important; width: 75% !important; }

  .tablet-auto {
     flex: 1 1 0 !important;
  }
}

/* Desktop */
@media (min-width: 1024px) {

  .mobile-lg-auto, .tablet-auto {
     flex: 1 1 0 !important;
  }
  .desktop-col-4 { flex: none !important; width: 33.33333% !important; }

  .desktop-auto {
     flex: 1 1 0 !important;
  }
}

/* Widescreen */
@media (min-width: 1220px) {

  .mobile-lg-auto, .tablet-auto, .desktop-auto {
     flex: 1 1 0 !important;
  }
}
.mobile-offset-6 { margin-left: 50% !important; }

.row [class^='offset-']{
  margin: 0 !important;
}

@media (min-width: 769px) {
  .tablet-offset-3 { margin-left: 25% !important; }
}

@media (min-width: 1024px) {
  .desktop-offset-1 { margin-left: 8.33333% !important; }
  .desktop-offset-4 {
margin-left: 33.33333% !important; }
  .desktop-offset-none { margin: 0 !important; }
}

.row {
  margin: 0px;
  padding: 0px;
  margin-left: -8px;
  margin-right: -8px;
}

/* TYPOGRAPHY
---------------------------------------------------------------
---------------------------------------------------------------*/

html {
   font-size: 9.5px;
   font-family: 'Raleway';
   font-weight: 400;
}

body {

  font-size: 1.6rem;
   font-family: 'Raleway';
   color: var(--dark-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 600;
   margin-top: 0rem;
   margin-bottom: 2rem;
   letter-spacing: .1rem;
   margin: 0;

padding: 0;
}

h1.primary,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary {
   color: var(--primary);
   font-weight: 700;
}

html {
   font-size: 10px;
}

body {
   font-size: 1.6rem;
   line-height: 1.6rem;
}

h1 {
   font-size: 4rem;
   margin-bottom: 5rem;
   line-height: 4.8rem;
}

h2 {

  font-size: 3rem;
   margin-bottom: 4rem;
   line-height: 3.8rem;
}

h3 {
   font-size: 2.5rem;
   margin-bottom: 3.6rem;
   line-height: 3.35rem;
}

h4 {
   font-size: 2.1rem;
   margin-bottom: 2.6rem;
   line-height: 2.5rem;
}

h5 {
   font-size: 1.78rem;
   margin-bottom: 2.25rem;
   line-height: 2.25rem;
}

h6 {
   font-size: 1.4rem;
   margin-bottom: 2rem;
   line-height: 2rem;
}


h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
   margin-bottom: 1rem !important;
}

.subtitle {
   color: #727272;
   margin: 0;
   padding: 0;
   margin-bottom: 3rem;
}

p {

  line-height: 2.5rem;
   font-size: 1.7rem;
   letter-spacing: .05rem;
}

small {
   font-size: 1.4rem;
}

strong {
   font-weight: 600;
}

/* LINKS
---------------------------------------------------------------
---------------------------------------------------------------*/
a, a:link, a.link { 
   text-decoration: none;
   color: var(--link-dark);
   display: inline-block;
   font-weight: 500;
}


/* BUTTONS
---------------------------------------------------------------
---------------------------------------------------------------*/
button a {
   color: white !important;
}

button,
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   display: inline-block;
   padding: 10px 20px;
   border: 1px solid var(--medium-gray);
   background: transparent;
   color: var(--dark-gray);
   font-weight: bold;
   letter-spacing: .05rem;
   font-weight: 500;
   font-size: 1.5rem;
   border-radius: 4px;

margin: 1rem 0px;
   margin-right: 10px;
   text-align: center;
   text-transform: uppercase;
   box-shadow: none;
}

button:hover,
a.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {

  color: var(--darkest-gray);
   cursor: pointer;
   transition-duration: .2s;
   background: var(--lightest-gray);
   box-shadow: none;
}

button.small,
.button.small,
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small {
   padding: 8 16px;
   font-size: 1.3rem;
}

button.medium {
   padding: 13px 30px;
   font-size: 1.6rem
}

button.large,
.button.large,
input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large {
   padding: 18px 40px;
   font-size: 1.75rem;
}

button.wide,
.button.wide,
input[type="submit"].wide,
input[type="reset"].wide,
input[type="button"].wide {
   padding: 8px 45px;
}

button:focus,
.button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
   outline: none;
}

button.primary,
.button.primary,
input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary {

background: var(--primary);
   color: white;
   border-color:
var(--primary);
}

button.primary:hover,
.button.primary:hover,
input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover {
   background: var(--primary-dark);
   color: white;
   border-color: var(--primary-dark);
}

button.accent,
.button.accent,
input[type="submit"].accent,
input[type="reset"].accent,
input[type="button"].accent {
   background: var(--accent);

  color: white;
   border-color: var(--accent);
}

button.accent:hover,
.button.accent:hover,
input[type="submit"].accent:hover,
input[type="reset"].accent:hover,
input[type="button"].accent:hover {
   background: var(--accent-dark);
   color: white;
   border-color: var(--accent-dark);
}

button.link,
.button.link,
input[type="submit"].link,
input[type="reset"].link,
input[type="button"].link {
   background: var(--link);
   color: white;
   border-color: var(--link);
}

button.link:hover,
.button.link:hover,
input[type="submit"].link:hover,
input[type="reset"].link:hover,
input[type="button"].link:hover {
   background: var(--link-dark);

 color: white;
   border-color: var(--link-dark);
}


button.info,
.button.info,
input[type="submit"].info,
input[type="reset"].info,
input[type="button"].info {
   background: var(--info);
   color: white;
   border-color: var(--info);
}

button.info:hover,
.button.info:hover,
input[type="submit"].info:hover,
input[type="reset"].info:hover,
input[type="button"].info:hover {
   background: var(--info-dark);
   color: white;
   border-color: var(--info-dark);
}

button.success,
.button.success,
input[type="submit"].success,
input[type="reset"].success,
input[type="button"].success {
   background: var(--success);
   color: white;
   border-color: var(--success);
}

button.success:hover,
.button.success:hover,
input[type="submit"].success:hover,
input[type="reset"].success:hover,
input[type="button"].success:hover {
   background: var(--success-dark);
   color: white;
   border-color: var(--success-dark);
}

button.primary.outline,
.button.primary.outline,
input[type="submit"].primary.outline,
input[type="reset"].primary.outline,
input[type="button"].primary.outline {
   color: var(--primary);
   border-color: var(--primary);
   background: transparent;
}

button.primary.outline:hover,
.button.primary.outline:hover,
input[type="submit"].primary.outline:hover,
input[type="reset"].primary.outline:hover,
input[type="button"].primary.outline:hover {
   color: white;
   background: var(--primary);
}

button.accent.outline,
.button.accent.outline,
input[type="submit"].accent.outline,
input[type="reset"].accent.outline,
input[type="button"].accent.outline {
   color: var(--accent);
   border-color: var(--accent);
   background: transparent;
}

button.accent.outline:hover,
.button.accent.outline:hover,
input[type="submit"].accent.outline:hover,
input[type="reset"].accent.outline:hover,
input[type="button"].accent.outline:hover {
   color: white;
   background: var(--accent);
}

button.link.outline,
.button.link.outline,
input[type="submit"].link.outline,
input[type="reset"].link.outline,
input[type="button"].link.outline {
   color: var(--link);
   border-color: var(--link);
   background: transparent;
}

button.link.outline:hover,
.button.link.outline:hover,
input[type="submit"].link.outline:hover,
input[type="reset"].link.outline:hover,
input[type="button"].link.outline:hover {
   color: white;
   background: var(--link);
}

button.info.outline,
.button.info.outline,
input[type="submit"].info.outline,
input[type="reset"].info.outline,
input[type="button"].info.outline {
   color: var(--info);
   border-color: var(--info);
   background: transparent;
}

button.info.outline:hover,
.button.info.outline:hover,
input[type="submit"].info.outline:hover,
input[type="reset"].info.outline:hover,
input[type="button"].info.outline:hover {
   color: white;
   background: var(--info);
}

button.success.outline,
.button.success.outline,
input[type="submit"].success.outline,
input[type="reset"].success.outline,
input[type="button"].success.outline {
   color: var(--success);
   border-color: var(--success);
   background: transparent;
}

button.success.outline:hover,
.button.success.outline:hover,
input[type="submit"].success.outline:hover,
input[type="reset"].success.outline:hover,
input[type="button"].success.outline:hover {
   color: white;
   background: var(--success);
}

/* Forms
---------------------------------------------------------------
---------------------------------------------------------------*/

form {
   margin-top: 15px;
   width: 100%;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], 
input[type="tel"], input[type="url"], input[type="password"], textarea {
   padding: 10.8px 10px;
   border: 1px solid var(--medium-gray);
   border-radius: 4px;
   display: block;
   box-sizing: border-box;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, 
input[type="text"]:focus, input[type="tel"]:focus,input[type="url"]:focus, 
input[type="password"]:focus, textarea:focus {
   border: 1px solid var(--primary);
   box-shadow: 0px 0px 3px .5px var(--gray-light);
   outline: none;
}

.input-element.no-border input[type="email"], .input-element.no-border input[type="number"], .input-element.no-border input[type="search"], .input-element.no-border input[type="text"], 
.input-element.no-border input[type="tel"], .input-element.no-border input[type="url"], .input-element.no-border input[type="password"], .input-element.no-border textarea {
   border: 1px solid transparent;
}

.input-element.no-border input[type="email"]:focus, .input-element.no-border input[type="number"]:focus, .input-element.no-border input[type="search"]:focus, .input-element.no-border input[type="text"]:focus, 
.input-element.no-border input[type="tel"]:focus, .input-element.no-border input[type="url"]:focus, .input-element.no-border input[type="password"]:focus, .input-element.no-border textarea:focus {
   border: 1px solid transparent;
}

form .col {

padding-bottom: 0 !important;
   padding-top: 0 !important;
}

legend {
   display: block;
   margin-bottom: .5rem;
   font-weight: 600;
   padding: 5px;
   color: var(--gray-text);
}

.input-element {
   margin: 0 0 1rem 0;
   display: block;
}


.input-element.small input {
  padding: 9px;
  font-size: 1.4rem;
}

.input-element.medium input {
  padding: 13.8px;
  font-size: 1.6rem;
}

.input-element.large input {
   padding: 18px;
   font-size: 1.75rem;
}

@media (min-width: 540px) {
   .input-element {
      margin: 0 0 1.4rem 0;
   }
}

@media (min-width: 769px) {
   .input-element {
      margin: 0
0 1.8rem 0;
   }
}

@media (min-width: 1024px) {

 .input-element {
      margin: 0 0 2rem 0;
   }
}

.input-element.inline {
   margin: 3rem 0;
   display: block;
}

.input-element.inline * {
   margin-bottom: 1rem;
   display: block;
   width: 100%;
}

label, .input-element.inline label {
   display: block;
   margin-bottom: 1rem;
   font-weight: 600;
   font-size: 1.5rem;
}

.input-element.inline.mobile {
   display: flex;
   align-items: center;
}

.input-element.inline.mobile > * {

 flex-basis: 0;
   flex-grow: 1;
   flex-shrink: 1;
   margin: 0;
   margin-left: 8px;
}

.input-element.inline.mobile label {
   margin-right: 1.2rem;
   margin-left: 0;
   justify-self: flex-start;
   max-width: 100px;
}

.input-element.inline button,
.input-element.inline.mobile button, .input-element.inline.mobile .button {
   flex: none;
}


@media (max-width: 768px){
   .input-element.inline input {
      width: 100%;
   }
}

@media (min-width: 769px) {

    .input-element.inline {
      display: flex;

     align-items: center;
   }

   .input-element.inline * {
     margin-bottom: 1rem;
     display: block;
     width: auto;
  }
   
    .input-element.inline > * {

 flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0;
      margin-left: 8px;
   }
   

.input-element.inline label {
      margin-right: 1.2rem;

  margin-left: 0;
      justify-self: flex-start;
      max-width: 100px;
   }
}

textarea {
   font-family: 'Raleway';
}

/* IMAGES
--------------------------------------------------------------
--------------------------------------------------------------*/

.image {
   max-width: 100%;
}

.image img {
   width: 100%;
}



/* Lists
---------------------------------------------------------------
---------------------------------------------------------------*/

ul {
   list-style: circle inside;
}

ul {
   padding-left: 0;
   line-height: 2rem;
   margin-top: 1.2rem;
}

li {
   line-height: 2rem;

 margin-bottom: 1.2rem;
}

ul ul {
   margin: 1.5rem
0 1.5rem 3rem;
   font-size: 95%;
}

.collection-item {
  padding: 10px;
  list-style: none;
  margin: 0;
  border: 1px solid var(--light-gray);
  border-bottom: none;
  font-weight: 500;
  display: block;
  line-height: inherit;
}

.collection-item:hover {
 box-shadow: none;
 position: static;
 line-height: inherit;
}

.collection-item:first-child {
 border-top-right-radius: 4px;
 border-top-left-radius: 4px;
}

.collection-item:last-child {
 border-bottom: 1px solid var(--light-gray);
 border-bottom-right-radius: 4px;
 border-bottom-left-radius: 4px;
}

.collection.links .collection-item {
 cursor: pointer;
 display: block;
 padding: 10px;
 font-weight: 500 !important;
 line-height: inherit;
 color: inherit;
}

.collection.links .collection-item:hover {
 background: var(--lighter-gray);
 cursor: pointer;
 box-shadow: none;
 position: static;
 line-height: inherit;
}

.collection.links .collection-item:active, .collection.links
.collection-item:active i {
 background: var(--primary);
 cursor: pointer;
 color: white;
 box-shadow: none;
}

.collection-item .right {
 float: right;
}


/* Tables
---------------------------------------------------------------
---------------------------------------------------------------*/


/* Code
---------------------------------------------------------------
---------------------------------------------------------------*/

/* Misc */

hr {
  border: 1px solid white;
  background: white;
  max-width: 90%;
}

hr.primary{
  border: 1px solid var(--primary);
  background:
var(--primary);
}

/* Navbar
---------------------------------------------------------------
---------------------------------------------------------------*/

.navbar {
  color: white;
}

.navbar .navbar-content {
  padding: 5px 15px 5px 15px;
}

.navbar-left  {
  text-align: center;
  width: 100%;
}

.navbar-right {
  width: 100%;
  text-align: center;
  margin-top: 0;
}

.navbar-item {
  color: white;
  border-radius: 0px;
  border: none;
  padding: 10px 20px;
  margin: 0px;
}

.navbar-item a {
  color: white !important;
  box-shadow: none !important;
}

.navbar-item a:hover, .navbar-item a:visited, .navbar a:hover:visited {
  color: white !important;
  box-shadow: none !important;
}

.navbar-item:hover {
  border-bottom-right-radius: none;
  border-bottom-right-radius: none;
  background: none;

color: white;
  border-bottom: 2px solid white;
  padding: 10px 20px 8px;
}

@media (min-width: 720px) {
  .navbar .navbar-content {
     display: flex;
     padding: 10px 15px;
     align-items: center;
  }
 
  .navbar-left  {

   justify-self: flex-start;
     width: 25%;
  }
 

.navbar-left > * {
     margin: 0;
  }
 
  .navbar-right {
     width: 75%;
     margin-top: 15px;
  }
 
  .navbar-item {
     margin: 0;
     margin: 5px;

float: right;
  }

  .navbar .input-element {
     margin: 0;
     margin-top: 3px;
  }
}

/* Display & Positioning Modifiers
---------------------------------------------------------------
---------------------------------------------------------------*/
.display-inline { display: inline !important; }
.v-align-center { align-items: center !important; }

.position-relative { position: relative !important; }

/* Display for different breakpoints */

@media (max-width: 539px) {

  .tablet-hidden {
     display: none !important;
  }
}
@media (max-width: 768px) {

  .tablet-hidden {
     display: none !important;
  }
}
@media (max-width: 1023px) {

 .tablet-hidden {
     display: none !important;
  }
}




/* Layout Modifiers
---------------------------------------------------------------
---------------------------------------------------------------*/

.float-right::after {
   content: '';
   display: table;
   clear: both;
}

.full-width {
   width: 100%;
}

.full-height {
   height: 100%;
}

i.fas, i.fab {
   color: var(--primary);
}

.float-right {
   float: right;
}

 .center-text {
   text-align: center !important;
}

 .align-text-left {
   text-align: left !important;
}


/* Margin and Padding Modifiers
---------------------------------------------------------------
---------------------------------------------------------------*/

.m-auto {

margin: 0 auto !important; }

.m-0 { margin: 0 !important; }

.mx-0 { margin-left: 0rem !important;
   margin-right: 0rem !important; }

.my-0 { margin-top: 0rem !important;
   margin-bottom: 0rem !important; }

.mt-0 { margin-top: 0rem !important; }
.mt-1 { margin-top: 1rem !important; }
.mt-4 { margin-top: 4rem !important; }
.mt-5 { margin-top: 5rem !important; }

.mb-0 { margin-bottom: 0rem !important; }
.mb-1 { margin-bottom: 1rem !important; }
.mb-2 { margin-bottom: 2rem !important; }
.mb-3 { margin-bottom: 3rem !important; }

.ml-0 { margin-left: 0rem !important; }

.p-0 { padding: 0 !important; }
.p-1 { padding: 1rem !important; }
.p-2 { padding: 2rem !important; }
.px-2 { padding-left: 2rem !important;
   padding-right: 2rem !important; }
.px-3 { padding-left: 3rem !important;

padding-right: 3rem !important; }
.px-5 { padding-left: 5rem !important;
   padding-right: 5rem !important; }
.py-2 { padding-top: 2rem !important;
   padding-bottom: 2rem !important; }
.py-5 { padding-top: 5rem !important;
   padding-bottom: 5rem !important; }
.pt-1 { padding-top: 1rem !important; }
.pb-2 { padding-bottom: 2rem !important; }
@media (min-width: 769px) {
   .tablet-my-2 { margin-top: 2rem !important;
      margin-bottom: 2rem !important; }
   .tablet-pr-2 { padding-right: 2rem !important; }
   .tablet-pl-3 { padding-left: 3rem !important; }
}
@media (min-width: 1024px) {
   .desktop-my-4 { margin-top: 4rem !important;
      margin-bottom: 4rem !important; }
   .desktop-px-10 { padding-left: 10rem !important;
      padding-right: 10rem !important; }
}
@media (min-width: 1220px) {
   
   .widescreen-mx-0 { margin-left: 0rem !important;
      margin-right: 0rem !important; }
   .widescreen-mx-5 { margin-left: 5rem !important;
      margin-right: 5rem !important; }
}

.full-width {
   width: 100% !important;
}

#hero-image{

background: linear-gradient(
     rgba(0, 0, 0, 0.3),
     rgba(0, 0, 0, 0.3)
  ), url('./img/showcase4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  z-index: 1;
}

#hero-image.services {
  background: linear-gradient(
     rgba(0, 0, 0, 0.3),
     rgba(0, 0, 0, 0.3)
  ), url('./img/showcase2.jpg');
  background-position: center;
  background-size: unset;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.navbar-item.current {
  border-bottom: 2px solid white;

border-radius: 0px;
  padding-bottom: 8px;
}

.transparent-nav {
  background: transparent;
}

.hero-content {
  max-width: 600px;
  width: 90%;
  padding: 5% 0 0 5%;
}

@media (min-width: 1200px) {
  #hero-image {
     background-size: cover;
     height: 40vw;
  }

  .hero-content {
     padding: 7% 0 0 7%;

  }

  #hero-image.services {
     height: auto;
  }
}

.card {
 box-shadow: 1px 1px 4px 2px #e6e6e6;
 border-radius: 3px;
 background: white;
 height: 100%;
}

.card:hover {
 box-shadow: 3px 3px 15px 3px #e6e6e6;
 transition-duration: .5s;

}

.card-body {
  display: block;
  margin: 5px;
}

.card.gray {
  box-shadow: none;
  background: var(--lighter-gray);
}

.border {
 border-bottom: 2px solid var(--primary);
 padding-bottom: 15px;
 width: 50%;
 margin-left:
auto;
 margin-right: auto;
}

.badge.success {
  display: inline-block;
  position: absolute;
  background: var(--success);
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  margin-left: 10px;
}

#parallax {
  background: linear-gradient(
     #0a628bd3,
     #0a628bd3
  ),
url('./img/showcase2.jpg');
  background-position: center;

background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.profile-round {
  border-radius: 50%;
  max-width: 150px;
}

.fa-star {
  color: var(--warning);
}

.testimonial-item {
  height: 100%;
  border: 2px solid var(--lighter-gray);
}

.footer-link {
  margin-right: 30%;
  padding: 6px 0px 6px 0px;
  color: var(--white-transparent) !important;
}

a.footer-link:hover {
  box-shadow: none !important;
  color:
white !important;
  font-weight: 600;
}

.social-icon {
  width: 50px;
  display: inline-block;
  padding: 5px;
}

.social-icon img {
  width: 100%;
}

@keyframes
header-down {
  from {background: transparent; position: relative; top: -50px}
  to {background: var(--primary); top: 0px;}
}

@keyframes wiggle {
  0% { transform: rotate(0deg); padding: 18px 40px; }
  10% { transform: rotate(4deg) }
  20% { transform: rotate(0deg) }
  30% { transform: rotate(-3deg) }
  40% { transform: rotate(0deg) }
  50% { transform: rotate(2deg); padding: 22px 46px; }
  60% { transform: rotate(0deg) }
  70% { transform: rotate(-1deg) }
  80% { transform: rotate(0deg) }
  90% { transform: rotate(1deg) }
  100% { transform: rotate(0deg); padding: 18px 40px; }
}

#animate-float-up {
  position: relative;
  top: 0;
}

@media (max-width: 768px){
  .hidden-below-tablet {
     display: none;
  }
}