.container{
    margin-left: 75px;
    margin-right: 75px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Main Header */

.header {
    background: rgba(158, 158, 158, 0.65);
    min-height: 50px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    transition: 0.3s;
}

.scrolled {
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

header a {
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
}

header nav{
    margin-top: 20px;
    padding-left: 250px;  
  }

.logo{
    color: rgb(248, 164, 6);
    float: left;
    margin: 0;
    position: relative;
    top: -10px;
}

.highlight {
    color: white;
    position: absolute;
}

.logo h1{
    padding: 0;
    margin: 0;
}

header li{
  display: inline;
  padding: 0px 20px;
  color: white;
}

body{
    max-width: 1600px;
    margin: 0 auto;
}

.content{
    width: 100%;
    margin: 0 auto;  
    padding-top: 0px;
}
/* Showcase Area */

#showcase {
    height: 575px;
    background-image: url('../img/showcase1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    
  }

#showcase h1{
    color: #ffffff;
    font-size: 36px;
    text-align: left;
    padding-bottom: 10px;
    margin: 0;
}

#showcase p{
    color: #ffffff;
    font-size: 24px;
    text-align: left;
    padding-bottom: 30px;
}

.showcase-content{
    padding-top: 125px;
}

.showcase-text{
    width: 50%;
    max-width: 800px;
    float: left;
    padding-right: 10px;
    margin-right: 10px;
}

.features{
    float: right;
    margin-right: 12vw;
    width: 25%;
    list-style-image: url('../img/checkmark.png');
    background: rgba(0, 0, 0, 0.473);
    line-height: 2em;
    padding-right: 10px;
}

.features ol{
    list-style-image: url('../img/checkmark.png');
    line-height: 1.5em;
}

.features li{
    font-size: 21px;
    list-style-image: url('../img/checkmark.png');
}

.large {
    font-weight: bolder;
    font-size: 32px;
}

.btn {
  background-color: #f8a406;
  width: 200px;
  height: 40px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.btn {
  background-color: #f8a406;
  width: 200px;
  height: 40px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
/* Newsletter section */

#newsletter{
    background: #f8a406;
    height: 100px;
}

.newsletter-content{
    height: 100px;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.image{
    border-radius: 50%;
    position: relative;
    bottom: 29px;
    width: 8vw;
    float: left;
    right: 3%;
    clear: both;
}

.image img{
    border-radius: 50%;
    width: 9vw;
}

.newsletter-form p{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.4em;
    width: auto;
    text-align: right;
}

.newsletter-form{
    width: AUTO;
    align-self: center;
    clear: none;
}

.newsletter-form form{
    margin-top: 10px;
    width: auto; 
    float: right;
    margin-right: 0;
    padding: none;
    clear: left;
}

input {
    height: 38px;
    width: 250px;
    border: none;
    
}

.news-btn {
    background-color: #acacac;
    width: 200px;
    height: 40px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: .9em;
    padding-right: none;
    margin-right: none;
    font-synthesis: style;
}
  
  /* Main Content */

  #main-content {
      background: #ffffff;
  }

  .experience{
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
  }

  #main-content .experience-img{
      width: 32%;
      float: left;
      height: auto;
  }

  .experience .text{
      padding-left: 38%;
      width: auto;
      margin-top: none;
  }

  .experience h1{
      margin: 0;
      font-size: 3em;
      border-bottom: 1px solid #f8a406;
      width: auto;
      padding-bottom: 10px;
  }

  .experience p{
    margin: 0;
    font-size: 1.2em;
    padding-top: 25px;
  }

.btn1{
    margin-top: 22px;
}

/* Main 2 */

#main-content-2 {
    background: #f7f7f7;
}

.main-content-2{
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
}

#main-content-2 .main-content-2-img{
    width: 32%;
    float: right;
    height: auto;
}

.main-content-2 .text{
    width: 60%;
    margin-top: none;
}

.main-content-2 h1{
    margin: 0;
    font-size: 3em;
    border-bottom: 1px solid #f8a406;
    width: auto;
    padding-bottom: 10px;
}

.main-content-2 p{
    font-size: 1.5em;
}

/* Review Section */

#review{
    background-image: url('../img/showcase1.jpg');
    height: auto; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#review h2{
    font-size: 2em;
    color: white;
    text-align: center;
    width: 50%;
    padding-top: 50px;
    margin-top: 0;
    padding-bottom: 30px;
    border-bottom: 2px solid #f8a406;
    margin: 0 auto;
    margin-bottom: 50px;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0;
    flex-wrap: wrap;
}

.box{
    width: 250px;
    text-align: center;
    color: white;
    padding: 0 30px;
    padding-bottom: 25px;
}

.box img{
    border-radius: 50%;
}

/* Footer area */

footer {
    background: #f8a406;
}

.footer{
    display: flex;
    flex-direction: row;
    height: 250px;
}

.foot1 a{
    color: white;
    text-decoration: none;
}

.foot2 a{
    color: white;
    text-decoration: none;
}

.foot3 a{
    color: white;
    text-decoration: none;
}

.foot1{
    width: 300px;
    margin-right: 11vw;
}

.foot2{
    width: 300px;
    margin-right: 11vw;
}

.foot3{
    width: 300px;
    margin-right: 11vw;
}

.footer h3{
    font-size: 1.2em;
    color: white;
    border-bottom: 2px solid white;
    text-align: center;
    padding-bottom: 20px;
}

.social{
    padding-top: 50px;
}

